<?xml version="1.0" encoding="UTF-8"?>
<configureation statu="OFF">
    <properties>
        <property name="logdir">logs</property>
    </properties>
    <appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %msg%n"/>
        </Console>
        <!-- 按天备份日志 -->
        <!-- fileName是初始生成的日志文件名，filePattern为时间到达后生成的新日志文件名 -->
        <RollingFile name="File" fileName="${logdir}/test_ass.log" filePattern="${logdir}/test_ass_%d{yyyy-MM-dd}_%i.log" >
            <!-- 输出格式 -->
            <PatternLayout pattern="%d [%-5p] %m%n" />
            <Policies>
                <!-- 按日期分割 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!-- 按大小分割 -->
                <SizeBasedTriggeringPolicy size="128 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <!-- 按条件定时清理日志 -->
                <Delete basePath="${logdir}" maxDepth="1">
                    <IfFileName glob="logs_*.log" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!-- ERROR & FATAL 级别日志邮件通知 -->
        <!-- bufferSize: the number of logging events delivered in this e-mail -->
        <!--<SMTP name="Mail"
              subject="TestAss Error"
              from="yuanyuefeng@cootf.com"
              to="yuanyuefeng@cootf.com"
              cc="guohuaxin@cootf.com"
              smtpHost="smtp.mxhichina.com"
              smtpPort="25"
              smtpUsername="yuanyuefeng@cootf.com"
              smtpPassword="yyfctf!@#456"
              bufferSize="50">
        </SMTP>-->
    </appenders>
    <loggers>
        <root level="trace">
            <!--
            <appender-ref ref="Console"/>
            -->
            <appender-ref ref="File"/>
            <!--
            <appender-ref ref="Mail" />
            -->
        </root>
    </loggers>
</configureation>
