<div id="tb" style="padding: 3px">
    <span>节点名称:</span>
    <input id="d_name" style="line-height: 26px; border: 1px solid #ccc;border-radius: 5px" />
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
</div>
<table id="dg"></table>

<div id="dl" style="display: none;">
    <form id="ff" method="post" style="margin-top: 10%;margin-left: 15%">
        <div style="margin: 8px;">
            <label>节点名称:</label>
            <input class="easyui-validatebox" placeholder="请输入节点key" type="text" name="text" style="width: 55%"/>
            <input type="hidden" name="path" id="parent_path"/>
        </div>
        <div style="margin: 8px;">
            <label>节&nbsp;点&nbsp;&nbsp;值:</label>
            <textarea name="value" placeholder="请输入key对应值" data-options="required:true" style="width: 55%;height: 80px"></textarea>
        </div>
    </form>
</div>

<div id="ds" style="display: none;">
    <select id="cc" class="easyui-combotree" style="width:200px;"
            data-options="url:'get_data.php',required:true">
    </select>
</div>

<script type="text/javascript">
    var dg;
    $(function () {
        var IsCheckFlag = true;
       dg = $("#dg").datagrid({
            url: '/zk/list',
            method:'get',
            queryParams:{
                "path":"/"
            },
            width: '100%',
            height: '100%',
            striped: true,     //交替行换色
            rownumbers: true,  //行号
            pagination: true,  //显示底部分页
            fitColumns: true,//自动适应。先给列随便加个宽度
            toolbar: "#tb",
            idField: 'id',
            checkOnSelect: false, //true，当用户点击行的时候该复选框就会被选中或取消选中。
            selectOnCheck: true, //true，单击复选框将永远选择行。
            columns:[[
                {field:'text',title:'名称',width:80,sortable:true},
                {field:'path',title:'路径',width:80,sortable:true},
                {field:'value',title:'值',width:80,sortable:true}
            ]],
            onClickRow: function (index, row) {
                var d_id = row["d_id"];
                //alert(d_id);
            },
            onClickCell: function (rowIndex, field, value) {
                //alert(value);
                IsCheckFlag = false;
            },
            onSelect: function (rowIndex, rowData) {
                if (!IsCheckFlag) {
                    IsCheckFlag = true;
                    $("#tt").datagrid("unselectRow", rowIndex);
                }
            },
            onUnselect: function (rowIndex, rowData) {
                if (!IsCheckFlag) {
                    IsCheckFlag = true;
                    $("#tt").datagrid("selectRow", rowIndex);
                }
            }
        });

        var p = $('#dg').datagrid('getPager');

        $(p).pagination({
            /*
                页数文本框前显示的汉字 修改每页默认条数
                搜索pageList在jquery.easyui.min.js中修改，
                分页区下拉分页数量集合和默认每页分页条数
                striped属性 交替行换色
            */
            beforePageText: '第',
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from}-{to} 条记录,共 {total} 条记录'
        });
    });

    //搜索
    function doSearch() {
        $('#dg').datagrid('load', {
            path: $('#d_name').val()
        });
    };

    //导出
    function doExport() {
        var node = $('#nav').tree('getSelected');
        window.location.href = "/zk/export?root=" + node.id;
    }

    //新增
    function create(){
        var node = tree.tree('getSelected');
        $("#parent_path").val(node.path);
        $('#dl').dialog({
            title: '新增',
            width: '35%',
            height: '30%',
            closed: true,
            modal: true,
            buttons:[
                {
                    text:'提交',
                    plain: true,
                    iconCls:'icon-ok',
                    handler:function(){
                        var jsonData = $("#ff").serializeObject();
                        $.ajax({
                            type: "POST",
                            url: "/zk/saveOrUpdate",
                            dataType:"json",
                            data: JSON.stringify(jsonData),
                            contentType:'application/json;charset=UTF-8',
                            success: function(result){
                                if (result.data){
                                    dg.datagrid('reload',{
                                        path:node.path
                                    })
                                    $('#dl').dialog('close');
                                }else{
                                    $.messager.alert('info',result.msg);
                                }
                            }
                        });
                    }
                },
                {
                    text:'取消',
                    plain: true,
                    iconCls:'icon-cancel',
                    handler:function(){
                        //关闭
                        $('#dl').dialog('close');

                    }
                }
            ],
            onBeforeOpen : function (){
                $("input[name='text']").val('');
                $("input[name='text']").removeAttr('readonly');
                $("textarea[name='value']").val('');
            }
        });
        $("#dl").dialog("open");
    }

    //编辑
    function update() {
        var node = tree.tree('getSelected');
        $("#parent_path").val(node.path);
        $('#dl').dialog({
            title: '修改',
            width: '35%',
            height: '30%',
            closed: true,
            modal: true,
            buttons:[
                {
                    text:'提交',
                    plain: true,
                    iconCls:'icon-ok',
                    handler:function(){
                        var jsonData = $("#ff").serializeObject();
                        $.ajax({
                            type: "POST",
                            url: "/zk/saveOrUpdate",
                            dataType:"json",
                            data: JSON.stringify(jsonData),
                            contentType:'application/json;charset=UTF-8',
                            success: function(result){
                                if (result.data){
                                    dg.datagrid('reload',{
                                        path:node.path
                                    })
                                    $('#dl').dialog('close');
                                }else{
                                    $.messager.alert('info',result.msg);
                                }
                            }
                        });
                    }
                },
                {
                    text:'取消',
                    plain: true,
                    iconCls:'icon-cancel',
                    handler:function(){
                        //关闭
                        $('#dl').dialog('close');

                    }
                }
            ],
            onBeforeOpen : function () {
                $.ajax({
                    type: "POST",
                    url: "/zk/load",
                    dataType:"json",
                    data: JSON.stringify({"path":tree.tree('getSelected').path}),
                    contentType:'application/json;charset=UTF-8',
                    success: function(result){
                        if (result.data){
                            $("input[name='text']").val(node.text);
                            $("input[name='text']").attr('readonly','readonly');
                            $("textarea[name='value']").val(result.data.value);
                        }
                    }
                });
            }
        });
        $("#dl").dialog("open");
    }

    //删除
    function doDelete() {
        $.ajax({
            type: "POST",
            url: "/zk/delete",
            dataType:"json",
            data: JSON.stringify({"path":tree.tree('getSelected').path}),
            contentType:'application/json;charset=UTF-8',
            success: function(result){
                if (result.data){
                    tree.tree('reload');
                    dg.datagrid('reload');
                }else{
                    $.messager.alert('info',result.msg);
                }
            }
        });
    }

    function copy() {
        var node = tree.tree('getSelected');
        $("#parent_path").val(node.path);
        $('#dl').dialog({
            title: title,
            width: '35%',
            height: '30%',
            closed: true,
            modal: true,
            buttons:[
                {
                    text:'提交',
                    plain: true,
                    iconCls:'icon-ok',
                    handler:function(){
                        var jsonData = $("#ff").serializeObject();
                        $.ajax({
                            type: "POST",
                            url: "/zk/saveOrUpdate",
                            dataType:"json",
                            data: JSON.stringify(jsonData),
                            contentType:'application/json;charset=UTF-8',
                            success: function(result){
                                if (result.data){
                                    dg.datagrid('reload',{
                                        path:node.path
                                    })
                                    $('#dl').dialog('close');
                                }else{
                                    $.messager.alert('info',result.msg);
                                }
                            }
                        });
                    }
                },
                {
                    text:'重置',
                    plain: true,
                    iconCls:'icon-reload',
                    handler:function(){
                        //清空表单
                        $("textarea[name='value']").val('');

                    }
                }
            ],
            onBeforeOpen : function () {
                $.ajax({
                    type: "POST",
                    url: "/zk/load",
                    dataType:"json",
                    data: JSON.stringify({"path":tree.tree('getSelected').path}),
                    contentType:'application/json;charset=UTF-8',
                    success: function(result){
                        if (result.data){
                            $("input[name='text']").val(node.text);
                            $("input[name='path']").val(node.path);
                            $("textarea[name='value']").val(result.data.value);
                        }
                    }
                });
            }
        });
        $("#dl").dialog("open");
    }

    function exportBtnFun() {
        $.ajax({
            type: 'POST',
            url: "/index/check",
            dataType: "json",
            success: function (data) {
                var flag = true;
                if (data.reqCode == 'exist') {
                    flag = confirm(data.reqMsg);
                }
                if (flag) {
                    window.location = "/index/downLoad";
                }
                console.log(data.reqCode);
            },
            error: function (data) {
                alert("error");
            }
        });
    }
</script>