
<div id="nav" class="easyui-tree" border="false" style="overflow: scroll;height: 99%;width: auto">

</div>

<div id="mm" class="easyui-menu" style="padding: 3px">
    <div data-options="iconCls:'icon-add'" onclick="create()">新增</div>
    <div data-options="iconCls:'icon-remove'" onclick="doDelete()">删除</div>
    <div data-options="iconCls:'icon-edit'" onclick="update()">修改</div>
    <div data-options="iconCls:'icon-export'" onclick="doExport()">导出</div>
    <div data-options="iconCls:'icon-print'" onclick="copy()">复制</div>
</div>
<script type="text/javascript">
    var tree;
    $(function () {
        tree = $('#nav').tree({
            url : "/zk/tree",
            method : 'post',
            animate : true,  //定义当节点展开折叠时是否显示动画效果
            filter: function(q, node){
                return node.children.length > 0;
            },
            onContextMenu : function (e, node) {
                e.preventDefault();
                tree.tree('select', node.target);
                // display context menu
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            onClick:function (node) {
                $('#dg').datagrid('reload',{
                    "path": node.path
                });
            }
        })
    });
</script>