<html>
<head>
    <meta charset="UTF-8" />
    <title>zk-ui</title>
    <#include "/include/common.html" >
</head>
<body>
<div class="easyui-layout" style="width: 100%;height:99%;">
    <div data-options="region:'north'" style="height:14%">
        <#include "/include/head.html" >
    </div>
    <div data-options="region:'east',split:true" title="工具" style="width: 13%;">
        <#include "/include/tool.html" >
    </div>
    <div data-options="region:'west',split:true" title="导航" style="width: 12%;">
        <!--  导航内容 -->
        <#include "/include/left.html" >
    </div>
    <div data-options="region:'center',title:'数据'">
        <#include "/include/data.html" />
    </div>
</div>
</body>
</html>